.name{
    color: rgba(239, 246, 240, 0.987);
    font-family: Raleway;
    font-size: 65px;
    position: absolute;
    left: 800px;
    top: 20%;
    text-shadow: 4px 3px 4px rgba(13, 5, 5, 0.774);
}
.subtitle{
    color: rgb(74, 255, 19);
    font-family: Raleway;
    font-size: 40px;
    position: absolute;
    left: 800px;
    top:29%
}
.description{
    color: rgba(255, 255, 255, 0.99);
    font-family: Raleway;
    font-size: 40px;
    text-align: left;
    position: absolute;
    left: 800px;
    top: 45%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.987);
}

.imagen{
    height: 850px;
    position: absolute;
    left: 0px;
    top: -25px;
    opacity: 0.8;
    border-radius: 0%;
     border: solid 1px;
    border-color: rgba(101, 16, 16, 0.809); 
};

