.container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: flex-end;
    position: absolute;
    left: 80%;  
};

.button{
    display: flex;
    flex-direction: row;
}

  